manifest {
  name = 'FloWuenne/meta-METAL_nextflow_dsl2'
  author = 'Florian Wuennemann'
  homePage = 'https://github.com/FloWuenne/meta-METAL_nextflow_dsl2'
  description = 'A very simple nextflow DSL2 pipeline to run METAL meta-analysis and plot the results using the qqman R package.'
}

profiles {
  standard {
      process.executor = 'local'
  }
  cluster_slurm {
      process.executor = 'slurm'
  }
}

env {
  PYTHONNOUSERSITE = 1
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--contain --no-home"
}


params {
    meta_file = "./test_data/*.metal.txt"
    sumstat_file_path = "./test_data/"
    index = 'index.csv'
    outdir = "./test_data/output"
    sig_thresh = 5e-8
    plot_types = "qqman"
    plot_height = 1000
    plot_width = 1400
    vep_cache_dir = "./home/vep"
    metal_scheme = "SAMPLESIZE"
    num_forks = 1
    temp_sort = "."
}


process {
     withName: run_metal {
         container = 'meta_metal.2021_07.sif'
     }
     
     withName: annotate_variants {
         container = 'vep_140.3.sif'
     }

    withName: plot_results {
         container = 'meta_metal.2021_07.sif'
     }
    


}
