manifest {
  name = 'FloWuenne/nextflow_saige_dsl2'
  author = 'Florian Wuennemann'
  homePage = 'https://github.com/FloWuenne/nextflow_saige_dsl2'
  description = 'A very simple nextflow DSL2 pipeline to run SAIGE GWAS analysis, followed by some standard plots.'
}

profiles {

  standard {
      process.executor = 'local'
  }

  cluster_slurm {
      process.executor = 'slurm'

  }

}

env {
  PYTHONNOUSERSITE = 1
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--contain --no-home"
}


params {
    meta_file = "./test_data/*metal.txt"
}


process {
  withName: run_metal {
    container = 'meta_metal.2021_07.sif'
  }
}
